<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mapper.web.FarmMapper">
    <select id="selectFarms" resultType="FarmsResDto">
        /* FarmMapper.selectFarms */
        select a.farm_id as farmId
             , case when a.farm_kind = '01' THEN '농장'
                    when a.farm_kind = '02' THEN '목장'
                    else '체험'
                end as farmKindNm
             , a.farm_name as farmName
             , a.farm_zip as farmZip
             , concat(format(a.farm_use_amt, 0), '원') as farmUseAmt
             , c.file_url as farmMainImageUrl
             , '0' as reviewStar
             , '0명' as reviewStarCnt
          from farm a
     left join file_group b
            on a.farm_main_image = b.file_group_id
     left join file c
            on b.file_group_id = c.file_group_id
         where farm_status = '01'
           and a.farm_kind = #{farmKind}
        <if test='farmName != null and farmName != ""'>
           and a.farm_name like concat('%', #{farmName}, '%')
        </if>
        <if test='farmUseDay != null and farmUseDay != ""'>
           and a.farm_use_day like concat('%', #{farmUseDay}, '%')
        </if>
        <if test='farmMaxUserCnt != null and farmMaxUserCnt != ""'>
           and a.farm_max_user_cnt <![CDATA[>=]]> CAST(#{farmMaxUserCnt} AS UNSIGNED)
        </if>
      order by a.created_date desc
    </select>

    <select id="selectFarmByFarmId" resultType="FarmDetailResDto">
        /* FarmMapper.selectFarmByFarmId */
        select a.farm_id as farmId
             , case when a.farm_kind = '01' THEN '농장'
                    when a.farm_kind = '02' THEN '목장'
                    else '체험'
                end as farmKindNm
             , a.farm_name as farmName
             , a.farm_zip as farmZip
             , concat(format(a.farm_use_amt, 0), '원') as farmUseAmt
             , '0' as reviewStar
             , '0명' as reviewStarCnt
             , a.farm_longitude as farmLongitude
             , a.farm_latitude as farmLatitude
             , concat(a.farm_use_time, ' ', '체험시간 ', a.farm_use_time_detail, '시간') as farmUseTimeDetail
          from farm a
         where farm_status = '01'
           and farm_id = #{farmId}
    </select>

    <select id="selectFarm" resultType="int">
        /* FarmMapper.selectFarm */
        select count(*)
          from farm
         where farm_name = #{farmName}
    </select>

    <update id="insertFarm">
        /* FarmMapper.insertFarm */
        insert into farm (
                    farm_id
                  , farm_app_id
                  , farm_app_pw
                  , farm_area
                  , farm_name
                  , farm_owner_name
                  , farm_fond_de
                  , farm_intrcn
                  , farm_zip
                  , farm_owner_tel
                  , farm_page
                  , farm_zip_detail
                  , farm_zip_code
                  , farm_latitude
                  , farm_longitude
                  , farm_status
                  , created_id
                  , created_date
                  , mod_id
                  , mod_date
          ) values (
                    UUID()
                  , #{id}
                  , #{pw}
                  , #{row.AREA}
                  , #{row.FARM_NM}
                  , #{row.RPRSNTV}
                  , #{row.FOND_DE}
                  , #{row.FARM_INTRCN}
                  , #{row.ADDR}
                  , #{row.TLPHON_NO}
                  , #{row.HMPG}
                  , #{row.RDNMADR}
                  , #{row.NW_ZIP}
                  , #{row.LA}
                  , #{row.LO}
                  , '00'
                  , 'system'
                  , CURRENT_TIMESTAMP
                  , 'system'
                  , CURRENT_TIMESTAMP
                  )
    </update>

    <select id="selectFarmBannerImage" resultType="FarmBannerResDto">
        /* FarmMapper.selectFarmBannerImage */
        select c.file_url as bannerImageUrl
          from farm a
     left join file_group b
            on a.farm_banner_image = b.file_group_id
     left join file c
            on b.file_group_id = c.file_group_id
         where a.farm_status = '01'
           and farm_id = #{farmId}
    </select>

    <select id="selectFarmByFarmIdForFarm" resultType="Farm">
        /* FarmMapper.selectFarmByFarmIdForFarm */
        select *
          from farm
         where farm_id = #{farmId}
    </select>

    <select id="selectFarmByFarmAppIdAndFarmAppPw" resultType="Farm">
        /* FarmMapper.selectFarmByFarmAppIdAndFarmAppPw */
        select *
          from farm
         where farm_app_id = #{farmAppId}
           and farm_app_pw = #{farmAppPw}
    </select>
</mapper>








