<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mapper.web.FarmMapper">
    <select id="selectFarms" resultType="FarmsResDto">
        /* FarmMapper.selectFarms */
        select a.farm_id as farmId
             , case when a.farm_kind = '01' THEN '농장'
                    when a.farm_kind = '02' THEN '목장'
                    else '체험'
                end as farmKindNm
             , a.farm_name as farmName
             , a.farm_zip as farmZip
             , concat(format(a.farm_use_amt - (a.farm_use_amt * COALESCE(a.farm_event_dicount_rate,'0') / 100), 0), '원') as farmUseAmt
             , case when a.farm_event_dicount_rate is not null then true
                    else false
                end as farm_event_dicount_YN
             , concat(COALESCE(a.farm_event_dicount_rate,'0'), '%') as farmEventDiscountRate
             , concat(format(a.farm_use_amt, 0), '원') as farmEventDiscountOriginalAmt
             , c.file_url as farmMainImageUrl
             , '0' as reviewStar
             , '0명' as reviewStarCnt
             , concat('체험시간 ',CASE WHEN MOD(a.farm_use_time_detail * 60, 60) = 0 THEN CONCAT(FLOOR(a.farm_use_time_detail), '시간')
                                     ELSE CONCAT(FLOOR(a.farm_use_time_detail), '시간 ',
                                                  LPAD(MOD(a.farm_use_time_detail * 60, 60), 2, '0'), '분'
                                                )
                                  END
                     ) as farmUseTimeDetailFormat
             , a.farm_fond_de as farmFondDe
          from farm a
     left join file_group b
            on a.farm_main_image = b.file_group_id
     left join file c
            on b.file_group_id = c.file_group_id
         where farm_status = '01'
           and a.farm_kind = #{farmKind}
        <if test='farmName != null and farmName != ""'>
           and a.farm_name like concat('%', #{farmName}, '%')
        </if>
        <if test='farmUseDay != null and farmUseDay != ""'>
           and a.farm_use_day like concat('%', #{farmUseDay}, '%')
        </if>
        <if test='farmMaxUserCnt != null and farmMaxUserCnt != ""'>
           and a.farm_max_user_cnt <![CDATA[>=]]> CAST(#{farmMaxUserCnt} AS UNSIGNED)
        </if>
        <if test='orderByKind != null and orderByKind != ""'>
            <if test="orderByKind.equals('createDate')">
                order by cast(replace(a.farm_fond_de,'년','') AS unsigned) desc
            </if>
            <if test="orderByKind.equals('highUseAmt')">
                order by cast(a.farm_use_amt AS unsigned) desc
            </if>
            <if test="orderByKind.equals('lowUseAmt')">
                order by cast(a.farm_use_amt AS unsigned)
            </if>
        </if>
    </select>

    <select id="selectFarmByFarmId" resultType="FarmDetailResDto">
        /* FarmMapper.selectFarmByFarmId */
        select a.farm_id as farmId
             , case when a.farm_kind = '01' THEN '농장'
                    when a.farm_kind = '02' THEN '목장'
                    else '체험'
                end as farmKindNm
             , a.farm_name as farmName
             , a.farm_zip as farmZip
             , concat(format(a.farm_use_amt - (a.farm_use_amt * COALESCE(a.farm_event_dicount_rate,'0') / 100), 0), '원') as farmUseAmt
             , concat(COALESCE(a.farm_event_dicount_rate,'0'), '%') as farmEventDiscountRate
             , concat(format(a.farm_use_amt, 0), '원') as farmEventDiscountOriginalAmt
             , '0' as reviewStar
             , '0명' as reviewStarCnt
             , a.farm_longitude as farmLongitude
             , a.farm_latitude as farmLatitude
             , a.farm_use_time_detail as farmUseTimeDetail
             , concat(a.farm_use_time, ' ', '체험시간 ',CASE WHEN MOD(a.farm_use_time_detail * 60, 60) = 0 THEN CONCAT(FLOOR(a.farm_use_time_detail), '시간')
                                                           ELSE CONCAT(FLOOR(a.farm_use_time_detail), '시간 ',
                                                                       LPAD(MOD(a.farm_use_time_detail * 60, 60), 2, '0'), '분'
                                                                       )
                                                       END
                      ) as farmUseTimeAndDetailTimeFormat
             , a.farm_owner_tel as farmOwnerTel
             , a.farm_intrcn as farmIntrcn
             , a.farm_use_day as farmUseDay
          from farm a
         where farm_status = '01'
           and farm_id = #{farmId}
    </select>

    <select id="selectFarm" resultType="int">
        /* FarmMapper.selectFarm */
        select count(*)
          from farm
         where farm_name = #{farmName}
    </select>

    <update id="insertFarm">
        /* FarmMapper.insertFarm */
        insert into farm (
                    farm_id
                  , farm_app_id
                  , farm_app_pw
                  , farm_area
                  , farm_name
                  , farm_owner_name
                  , farm_fond_de
                  , farm_intrcn
                  , farm_zip
                  , farm_owner_tel
                  , farm_page
                  , farm_zip_detail
                  , farm_zip_code
                  , farm_latitude
                  , farm_longitude
                  , farm_status
                  , created_id
                  , created_date
                  , mod_id
                  , mod_date
          ) values (
                    UUID()
                  , #{id}
                  , #{pw}
                  , #{row.AREA}
                  , #{row.FARM_NM}
                  , #{row.RPRSNTV}
                  , #{row.FOND_DE}
                  , #{row.FARM_INTRCN}
                  , #{row.ADDR}
                  , #{row.TLPHON_NO}
                  , #{row.HMPG}
                  , #{row.RDNMADR}
                  , #{row.NW_ZIP}
                  , #{row.LA}
                  , #{row.LO}
                  , '00'
                  , 'system'
                  , CURRENT_TIMESTAMP
                  , 'system'
                  , CURRENT_TIMESTAMP
                  )
    </update>

    <select id="selectFarmBannerImage" resultType="FarmBannerResDto">
        /* FarmMapper.selectFarmBannerImage */
        select c.file_url as bannerImageUrl
          from farm a
     left join file_group b
            on a.farm_banner_image = b.file_group_id
     left join file c
            on b.file_group_id = c.file_group_id
         where a.farm_status = '01'
           and farm_id = #{farmId}
    </select>

    <select id="selectFarmByFarmIdForFarm" resultType="Farm">
        /* FarmMapper.selectFarmByFarmIdForFarm */
        select *
          from farm
         where farm_id = #{farmId}
    </select>

    <select id="selectFarmByFarmAppIdAndFarmAppPw" resultType="Farm">
        /* FarmMapper.selectFarmByFarmAppIdAndFarmAppPw */
        select *
          from farm
         where farm_app_id = #{farmAppId}
           and farm_app_pw = #{farmAppPw}
    </select>

    <select id="selectFarmByFarmIdForUser" resultType="User">
        /* FarmMapper.selectFarmByFarmIdForFarm */
        select farm_id as user_id
             , farm_owner_name as user_name
             , farm_owner_tel as user_tel
          from farm
         where farm_id = #{farmId}
    </select>

    <select id="selectFarmUseTimeDetailList" resultType="FarmUseTimeDetailResDto">
        /* FarmMapper.selectFarmUseTimeDetailList */
        WITH RECURSIVE time_intervals AS (
               SELECT STR_TO_DATE(SUBSTRING_INDEX(farm_use_time, ' ~ ', 1), '%H:%i') AS start_time
                    , STR_TO_DATE(SUBSTRING_INDEX(farm_use_time, ' ~ ', -1), '%H:%i') AS end_time
                    , STR_TO_DATE(SUBSTRING_INDEX(farm_use_time, ' ~ ', 1), '%H:%i') AS current_type_time
                    , CAST(SUBSTRING_INDEX(farm_use_time_detail, '.', 1) AS SIGNED) AS hour_part
                    , CAST(SUBSTRING_INDEX(farm_use_time_detail, '.', -1) * 6 AS SIGNED) AS minute_part
                 FROM farm
                WHERE farm_id = #{farmId}
            UNION ALL
               SELECT start_time
                    , end_time
                    , DATE_ADD(current_type_time, INTERVAL hour_part HOUR) + INTERVAL minute_part MINUTE AS current_type_time
                    , hour_part
                    , minute_part
                 FROM time_intervals
                WHERE DATE_ADD(DATE_ADD(current_type_time, INTERVAL hour_part HOUR), INTERVAL minute_part MINUTE) <![CDATA[<]]> end_time
        )
        SELECT TIME_FORMAT(current_type_time, '%H:%i') AS farmUseTimeDetailSlot
          FROM time_intervals
    </select>

    <update id="updateFarm">
        /* FarmMapper.updateFarm */
        update farm
           set farm_main_image = #{myPageInfoSetReqDto.farmMainImageId}
             , farm_banner_image = #{fileGroupId}
             , farm_name = #{myPageInfoSetReqDto.farmName}
             , farm_intrcn = #{myPageInfoSetReqDto.farmIntrcn}
             , farm_kind = #{myPageInfoSetReqDto.farmKind}
             , farm_zip = #{myPageInfoSetReqDto.farmZip}
             , farm_owner_tel = #{myPageInfoSetReqDto.farmOwnerTel}
             , farm_owner_name = #{myPageInfoSetReqDto.farmOwnerName}
             , farm_account_no = #{myPageInfoSetReqDto.farmAccountNo}
             , farm_use_day = #{myPageInfoSetReqDto.farmUseDay}
             , farm_use_time = concat(#{myPageInfoSetReqDto.farmUseStartTime},' ~ ',#{myPageInfoSetReqDto.farmUseEndTime} )
             , farm_use_time_detail = #{myPageInfoSetReqDto.farmUseTimeDetail}
             , farm_use_amt = #{myPageInfoSetReqDto.farmUseAmt}
             , farm_status = '01'
             , mod_id = #{myPageInfoSetReqDto.farmId}
             , mod_date = CURRENT_TIMESTAMP
         where farm_id = #{myPageInfoSetReqDto.farmId}
    </update>

    <select id="checkFarmUseTimeA" resultType="boolean">
        /* FarmMapper.checkFarmUseTimeA */
        select IF(STR_TO_DATE(#{farmUseStartTime}, '%H:%i') <![CDATA[<=]]> STR_TO_DATE(#{farmUseEndTime}, '%H:%i'),TRUE,FALSE)
          from dual
    </select>

    <select id="checkFarmUseTimeB" resultType="boolean">
        /* FarmMapper.checkFarmUseTimeB */
        select IF(TIMESTAMPDIFF(MINUTE, STR_TO_DATE(#{farmUseStartTime}, '%H:%i'), STR_TO_DATE(#{farmUseEndTime}, '%H:%i')) % (#{farmUseTimeDetail} * 60) = 0,TRUE,FALSE)
          from dual
    </select>

    <select id="selectFarmBannerImageForMyPageFarmBannerResDto" resultType="MyPageFarmBannerResDto">
        /* FarmMapper.selectFarmBannerImageForMyPageFarmBannerResDto */
        select c.file_url as bannerImageUrl
             , c.file_id as bannerImageFileId
          from farm a
     left join file_group b
            on a.farm_banner_image = b.file_group_id
     left join file c
            on b.file_group_id = c.file_group_id
         where a.farm_status = '01'
           and farm_id = #{farmId}
    </select>
</mapper>








