<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mapper.web.ReservationMapper">

    <insert id="insertReservation">
        /* ReservationMapper.insertReservation */
        insert into reservation (
                    reservation_id
                  , user_id
                  , farm_id
                  , reservation_name
                  , reservation_email
                  , reservation_tel
                  , reservation_date
                  , reservation_participants
                  , reservation_status
                  , reservation_start_time
                  , reservation_end_time
                  , created_id
                  , created_date
                  , mod_id
                  , mod_date
         ) values (
                    #{reservationId}
                  , #{user.user_id}
                  , #{reservationReqDto.farmId}
                  , #{reservationReqDto.reservationName}
                  , #{reservationReqDto.reservationEmail}
                  , #{reservationReqDto.reservationTel}
                  , #{reservationReqDto.reservationDate}
                  , #{reservationReqDto.reservationParticipants}
                  , '00'
                  , #{reservationReqDto.reservationStartTime}
                  , #{reservationEndTime}
                  ,'system'
                  , CURRENT_TIMESTAMP
                  , 'system'
                  , CURRENT_TIMESTAMP
                 )
    </insert>

    <select id="selectReservationByReservationId" resultType="ReservationResDto">
        /* ReservationMapper.selectReservationByReservationId */
        select a.reservation_name as reservationName
             , a.reservation_id as reservationId
             , b.farm_account_no as farmAccountNo
             , case when b.farm_kind = '01' THEN '농장'
                    when b.farm_kind = '02' THEN '목장'
                    else '체험'
                end as farmKindNm
             , b.farm_name as farmName
             , '0' as reviewStar
             , '0명' as reviewStarCnt
             , b.farm_owner_tel as farmOwnerTel
             , concat(b.farm_use_time, ' ', '체험시간 ',
                      CASE WHEN MOD(b.farm_use_time_detail * 60, 60) = 0 THEN CONCAT(FLOOR(b.farm_use_time_detail), '시간')
                           ELSE CONCAT(FLOOR(b.farm_use_time_detail), '시간 ',
                                       LPAD(MOD(b.farm_use_time_detail * 60, 60), 2, '0'), '분'
                                      )
                       END
                      ) as farmUseTimeDetail
             , a.reservation_date as reservationDate
             , a.reservation_participants as reservationParticipants
             , concat(a.reservation_start_time, ' ~ ', a.reservation_end_time) as reservationTime
             , d.file_url as farmMainImageUrl
             , b.farm_use_day as farmUseDay
          from reservation a
     left join farm b
            on a.farm_id = b.farm_id
     left join file_group c
            on b.farm_main_image = c.file_group_id
     left join file d
            on c.file_group_id = d.file_group_id
         where a.reservation_id = #{reservationId}
    </select>

    <select id="selectReservationByUserId" resultType="ReservationHistoryResDto">
        /* ReservationMapper.selectReservationByUserId */
        select a.reservation_id as reservationId
             , a.reservation_status as reservationStatus
             , case when a.reservation_status = '00' THEN '예약대기'
                    when a.reservation_status = '01' THEN '예약확정'
                    else '예약취소'
                end as reservationStatusNm
             , b.farm_account_no as farmAccountNo
             , case when b.farm_kind = '01' THEN '농장'
                    when b.farm_kind = '02' THEN '목장'
                    else '체험'
                end as farmKindNm
             , b.farm_name as farmName
             , b.farm_zip as farmZip
             , b.farm_owner_tel as farmOwnerTel
             , concat(b.farm_use_time, ' ', '체험시간 ',
                      CASE WHEN MOD(b.farm_use_time_detail * 60, 60) = 0 THEN CONCAT(FLOOR(b.farm_use_time_detail), '시간')
                           ELSE CONCAT(FLOOR(b.farm_use_time_detail), '시간 ',
                                       LPAD(MOD(b.farm_use_time_detail * 60, 60), 2, '0'), '분'
                                       )
                       END
                      ) as farmUseTimeDetail
             , a.reservation_date as reservationDate
             , a.reservation_participants as reservationParticipants
             , a.reservation_start_time as reservationStartTime
             , a.reservation_end_time as reservationEndTime
             , a.reservation_name as reservationName
             , a.reservation_tel as reservationTel
             , a.reservation_email as reservationEmail
             , concat(format(b.farm_use_amt, 0), '원') as farmUseAmt
             , d.file_url as farmMainImageUrl
             , b.farm_use_day as farmUseDay
          from reservation a
     left join farm b
            on a.farm_id = b.farm_id
     left join file_group c
               on b.farm_main_image = c.file_group_id
     left join file d
               on c.file_group_id = d.file_group_id
         where a.user_id = #{user_id}
    </select>

    <update id="reservationFarmCancel">
        /* ReservationMapper.reservationFarmCancel */
        update reservation
           set reservation_status = '02'
             , mod_id = #{user.user_id}
             , mod_date = CURRENT_TIMESTAMP
         where reservation_id = #{reservationCancelReqDto.reservationId}
    </update>

    <select id="selectReservationByReservationIdForReservation" resultType="Reservation">
        /* ReservationMapper.reservationFarmCancel */
        select *
          from reservation
         where reservation_id = #{reservationId}
    </select>

    <select id="duplicationReservationCnt">
        /* ReservationMapper.duplicationReservationCnt */
        select COUNT(*)
          from reservation
         where user_id = #{user.user_id}
           and farm_id = #{reservationReqDto.farmId}
           and reservation_date = #{reservationReqDto.reservationDate}
           and STR_TO_DATE(#{reservationReqDto.reservationStartTime}, '%H:%i') <![CDATA[<]]> STR_TO_DATE(reservation_end_time, '%H:%i')
           and STR_TO_DATE(#{reservationEndTime}, '%H:%i') <![CDATA[>]]> STR_TO_DATE(reservation_start_time, '%H:%i')
    </select>

    <select id="useDayChk">
        /* ReservationMapper.duplicationReservationCnt */
        select count(*)
          from farm
         where farm_id = #{farmId}
           and farm_use_day like concat('%',#{day},'%')
    </select>
</mapper>








