<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mapper.app.HomeMapper">

    <select id="selectUserBadgeByUserIdForCnt" resultType="Integer">
        /* HomeMapper.selectUserBadgeByUserIdForCnt */
        select count(*)
          from user_badge
         where user_id = #{userId}
    </select>

    <select id="selectGoodsListForOpenYn" resultType="OpenGoodsResDto">
        /* HomeMapper.selectGoodsListForOpenYn */
        select a.goods_id as goodsId
             , a.goods_name as goodsName
             , a.goods_price as goodsPrice
             , g.file_url as fileUrl
             , a.badge_open_count as badgeOpenCount
             , case when a.badge_open_count <![CDATA[<=]]> (select count(*)
                                                              from user_badge c
                                                         left join tourism_api d
                                                                on c.tourism_api_id = d.tourism_api_id
                                                         left join area_code e
                                                                on d.areacode = e.code
                                                               and e.country = #{language}
                                                             where c.user_id = #{userId}
                                                               and d.country = #{language}
                                                               and d.areacode = b.code
                                                            ) then 'Y'
                     else 'N'
                 end as goodsOpenYn
         from goods a
    left join area_code b
           on a.area_code_id = b.area_code_id
          and b.country = #{language}
    left join file_group f
           on a.file_group_id = f.file_group_id
    left join file g
           on f.file_group_id = g.file_group_id
        where a.del_yn = 'N'
    </select>

    <select id="selectUserBadgeByUserIdForCollect" resultType="CollectBadgeDto">
        /* HomeMapper.selectUserBadgeByUserIdForCollect */
        select c.badge_code_type as badgeCodeType
             , e.file_url as fileUrl
          from user_badge a
     left join tourism_api b
            on a.tourism_api_id = b.tourism_api_id
     left join badge_code c
            on b.badge_code = c.badge_code
     left join file_group d
               on c.file_group_id = d.file_group_id
     left join file e
               on d.file_group_id = e.file_group_id
         where a.user_id = #{userId}
    </select>

</mapper>








