<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mapper.app.TourismMapper">

    <select id="selectTourismApi" resultType="TourDto">
        /* UserMapper.selectTourismApi */
        select a.title as tourName
             , a.mapx
             , a.mapy
             , IFNULL(IFNULL(c.file_url,a.firstimage),'http://api.badgechallenge.kro.kr/api/v1/common/file/6333a36a-db25-4b99-9346-714ff12f0f26') as fileUrl
             , a.tourism_api_id as tourismApiId
          from tourism_api a
     left join file_group b
            on b.file_group_id = a.file_group_id
     left join file c
            on c.file_group_id = b.file_group_id
         where a.country = #{language}
           and a.del_yn = 'N'
    </select>

    <select id="selectTourismApiForTopRank" resultType="TourismApi">
        /* UserMapper.selectTourismApi */
        select a.title as tourName
             , a.mapx
             , a.mapy
             , IFNULL(IFNULL(c.file_url,a.firstimage),'http://api.badgechallenge.kro.kr/api/v1/common/file/6333a36a-db25-4b99-9346-714ff12f0f26') as fileUrl
             , a.tourism_api_id as tourismApiId
          from tourism_api a
     left join file_group b
            on b.file_group_id = a.file_group_id
     left join file c
            on c.file_group_id = b.file_group_id
         where a.tourism_api_id in ( select c.tourism_api_id
                                     from (select b.tourism_api_id
                                                , (checkCnt / 1000) + (favoriteCnt / 10) + visitCnt as totalScore
                                                , row_number() over (order by (checkCnt / 1000) + (favoriteCnt / 10) + visitCnt desc) as rn
                                             from (select a.tourism_api_id
                                                        , (select count(*) from tourism_check where tourism_api_id = a.tourism_api_id)    as checkCnt
                                                        , (select count(*) from tourism_visit where tourism_api_id = a.tourism_api_id)    as visitCnt
                                                        , (select count(*) from tourism_favorite where tourism_api_id = a.tourism_api_id) as favoriteCnt
                                                     from tourism_api a
                                                    where country = #{language}
                                                 group by a.tourism_api_id) b
                                           ) c
                                     where c.rn <![CDATA[<=]]> 15
                                   )
           and a.del_yn = 'N'
    </select>


</mapper>








