<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mapper.app.UserMapper">

    <select id="selectUserByUserEmail" resultType="ServiceUser">
        /* UserMapper.selectUserByUserEmail */
        select user_email as userEmail
             , user_id as userId
          from user
         where user_email = #{userEamil}
    </select>

    <select id="selectOrderItemByUserId" resultType="GoodsBuyResDto">
        /* UserMapper.selectOrderItemByUserId */
        select a.order_item_id as orderItemId
             , b.goods_id as goodsId
             , b.goods_name as goodsName
             , a.order_price as goodsPrice
             , a.order_status as orderStatus
             , a.reg_datetime as goodsBuyDate
          from order_item a
     left join goods b
            on a.goods_id = b.goods_id
         where a.del_yn = 'N'
           and a.user_id = #{userId}
    </select>

    <select id="selectTourismScheduleByUserId" resultType="MyPageScheduleResDto">
        /* UserMapper.selectTourismScheduleByUserId */
        select a.tourism_api_id as tourismApiId
             , b.mapy as mapy
             , b.mapx as mapx
             , a.schedule_date as scheduleDate
             , b.addr1 as addr
             , b.title as title
             , d.file_url as fileUrl
          from tourism_schedule a
     left join tourism_api b
            on a.tourism_api_id = b.tourism_api_id
     left join file_group c
            on b.file_group_id = c.file_group_id
     left join file d
            on c.file_group_id = d.file_group_id
         where a.del_yn = 'N'
           and b.del_yn = 'N'
           and a.user_id = #{userId}
    </select>

    <select id="selectUserCartByUserId" resultType="MyPageUserCartResDto">
        /* UserMapper.selectUserCartByUserId */
        select a.goods_id as goodsId
             , d.file_url as fileUrl
             , b.goods_name as goodsName
             , b.goods_price as goodsPrice
             , a.order_count as orderCount
          from user_cart a
     left join goods b
            on a.goods_id = b.goods_id
     left join file_group c
            on b.file_group_id = c.file_group_id
     left join file d
            on c.file_group_id = d.file_group_id
        where a.del_yn = 'N'
          and b.del_yn = 'N'
          and a.user_id = #{userId}
    </select>
</mapper>








