<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mapper.app.AlarmMapper">
    <select id="selectAlarm" resultType="AlarmResDto">
        /* UserMapper.selectAlarm */
        select alarm_id as alarmId
             , alarm_title as alarmTitle
             , alarm_content as alarmContent
             , alarm_read_yn as alarmReadYn
             , created_date as alarmDate
          from alarm
         where farm_id = #{user_id}
      order by created_date desc
    </select>

    <select id="selectAlarmCount" resultType="Integer">
        /* UserMapper.selectAlarm */
        select count(*)
         from alarm
        where farm_id = #{user_id}
          and alarm_read_yn = 'N'
    </select>

    <update id="updateAlarm">
        /* UserMapper.selectAlarm */
        update alarm
           set alarm_read_yn = 'Y'
             , mod_id = #{user.user_id}
             , mod_date = CURRENT_TIMESTAMP
         where farm_id = #{user.user_id}
           and alarm_id = #{alarmReadReqDto.alarmId}
    </update>

    <insert id="insertAlarm">
        /* UserMapper.insertAlarm */
        insert into alarm (
                    alarm_id
                  , farm_id
                  , alarm_kind
                  , alarm_title
                  , alarm_content
                  , alarm_read_yn
                  , created_id
                  , created_date
                  , mod_id
                  , mod_date
          ) values (
                    UUID()
                  , #{farm_id}
                  , '01'
                  , #{alarm_title}
                  , #{alarm_content}
                  , 'N'
                  , #{created_id}
                  , CURRENT_TIMESTAMP
                  , #{created_id}
                  , CURRENT_TIMESTAMP
                 )
    </insert>

</mapper>








